

.load #loader_wrapper {
    display: none;
}

#loader_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100000;
}

.loader {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -37px 0 0 0px;
    z-index: 10;
}

.loader img {
    width: 100%;
}

#data {
    display: none;
}